# Visual Studio cache directory
.vs/
.idea/
.DS_Store


################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/AutoARExperience/.vs/AutoARExperience
/AutoARExperience/FAClient/bin/Debug/net8.0
/AutoARExperience/FAClient/obj
/AutoARExperience/TestProject1/bin/Debug/net8.0
/AutoARExperience/TestProject1/obj
/AutoARExperience/TestResults
/AutoARExperience/.vs
/AutoARExperience/TestProject/bin/Debug/net8.0
/AutoARExperience/TestProject/obj
__pycache__
/AutoARExperience/FAClient/bin
/AutoARExperience/TestProject/bin/Release/net8.0/CoverletSourceRootsMapping_TestProject
